body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  min-height: 100vh;
}

header {
  background-color: #1e1e2f;
  color: white;
  padding: 1rem;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #2c2c3c;
  padding: 1rem 0;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #00bfff;
}

main {
  padding: 2rem;
  width: 100%;
  flex: 1;
}

#home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 180px); /* Ajustez cette valeur en fonction de la hauteur de votre header et nav */
}

#home h2 {
  text-align: center;
}
